<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Foobar2000 location -->
    <add key="Foobar2000Location" value="C:\Program Files (x86)\foobar2000\foobar2000.exe"/>
    <add key="Foobar2000WorkingDirectory" value="C:\Program Files (x86)\foobar2000\"/>

    <!-- Serialization file names -->
    <add key="FavoritesM3uName" value="favorites.m3u"/>
    <add key="FavoritesTxtName" value="favorites.txt"/>
    <add key="TaskbarConfigName" value="taskbarConfig.json"/>
    <add key="ShortcutsName" value="shortcuts.json"/>

    <!-- Default values used when creating a fresh configuration
         To change existing configuration please modify the taskbarConfig instead-->
    <add key="DefaultBridgeUrl" value="http://192.168.1.178/api/"/>
    <add key="DefaultLightToAffect" value="3"/>
    <add key="SkypeWorkingDirectory" value="C:\Program Files (x86)\Microsoft\Skype for Desktop\"/>
    <add key="SkypeFileName" value="C:\Program Files (x86)\Microsoft\Skype for Desktop\Skype.exe"/>
    <add key="SteamWorkingDirectory" value="C:\Program Files (x86)\Steam\"/>
    <add key="SteamFileName" value="C:\Program Files (x86)\Steam\Steam.exe"/>
  </appSettings>
</configuration>