<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Taskbarv3.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Foobar2000 location -->
    <add key="Foobar2000Location" value="C:\Program Files (x86)\foobar2000\foobar2000.exe"/>
    <add key="Foobar2000WorkingDirectory" value="C:\Program Files (x86)\foobar2000\"/>

    <!-- Serialization file names -->
    <add key="FavoritesM3uName" value="favorites.m3u"/>
    <add key="FavoritesTxtName" value="favorites.txt"/>
    <add key="TaskbarConfigName" value="taskbarConfig.json"/>
    <add key="ShortcutsName" value="shortcuts.json"/>

    <!-- Default values used when creating a fresh configuration
         To change existing configuration please modify the taskbarConfig instead-->
    <add key="DefaultBridgeUrl" value="http://192.168.1.178/api/"/>
    <add key="DefaultLightToAffect" value="3"/>
  </appSettings>
  <userSettings>
    <Taskbarv3.UI.Properties.Settings>
      <setting name="Top" serializeAs="String">
        <value>1395</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>2560</value>
      </setting>
    </Taskbarv3.UI.Properties.Settings>
  </userSettings>
</configuration>