<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Foobar2000Location" value="C:\Program Files (x86)\foobar2000\foobar2000.exe"/>
    <add key="Foobar2000WorkingDirectory" value="C:\Program Files (x86)\foobar2000\"/>
    <add key="FavoritesM3uName" value="favorites.m3u"/>
    <add key="FavoritesTxtName" value="favorites.txt"/>
  </appSettings>
</configuration>